<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <p>
            </p>
        <h1>🎨 Wait... Is this Monet or Manet? 🎨</h1>
        
        <p>
            Ever wondered if the painting was created by <strong>Claude Monet</strong> or <strong>Édouard Manet</strong>? 
            </p>
            <h5>This neural network can help! </h5>
        
        <div class='content'>
            <img class="ui medium rounded centered image" src="app/static/monet1.jpg">
<!--
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
-->
            </div>
        <div class='content'>
            </div>
<!--            <button class='choose-file-button' type='button' onclick='showPicker()'>Upload painting</button>-->

            <button class="ui labeled icon button" type='button' onclick='showPicker()'>
                <i class="plus icon"></i>
                Upload painting
            </button>
            <div class='upload-label'>
                <p id='upload-label'>No artwork chosen</p>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
<!--
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Launch the AI</button>
            </div>
-->
            <div class='analyze'>
            <button class="ui big primary button" id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>
              Launch the AI
            </button>
            </div>
                <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
        
    
    <script  src="js/index.js"></script>
<link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/semantic.min.css">


    
</body>
</html>
